@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.chat_div .chat_text_nickname{
    font-family: 'Noto Sans KR', sans-serif!important;
    font-size: 15px!important;
	color: #FFFFFF!important;
    background-color: #2c2f33;
    background-image: url("..//img/x_button_b.png");
    border-top: #2c2f33 solid 1px;
    border-left: #2c2f33 solid 1px;
    border-bottom: #2c2f33 solid 1px;
    border-right: #2c2f33 solid 1px;
    display: block;
    text-shadow: 0px 0px 0px #000000!important;
    width: 360px;
    text-align: center;
    border-radius: 1px 1px 0px 0px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0)!important;
}
.chat_div .chat_text_message{
    font-family: 'Noto Sans KR', sans-serif!important;
    font-size: 15!important;
    color: #FFFFFF!important;
    width: 350px!important;
    text-shadow: 0px 0px 0px #000000!important;
    background-color: #23272a !important;
    border-top: #23272a solid 1px;
    border-left: #23272a solid 1px;
    border-bottom: #23272a solid 1px;
    border-right: #23272a solid 1px;
    border-radius: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-left: 0px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0)!important;
    margin-bottom: 0px!important;
}


.chat_div .chat_platform_tvpot,.chat_div  .chat_platform_twitch,.chat_div  .chat_platform_youtube,.chat_div  .chat_platform_mixer,.chat_platform_info{
    display: block!important;
    position: relative!important;
    width: 15px!important;
    left: 10px!important;
    bottom: -23px!important;
}
img{
    max-width: 95px;
    /*margin-left: 52px;*/
/*    margin-top: -3px;
    padding-bottom: 5px;*/
    margin: 0 auto;
    margin-top: -3px;
    margin-bottom: -3px;
    align-self: center;
    display: block;
    overflow: scroll;
/*    margin-bottom: 65px;*/
}

.chat_text_nickname img{/*스트리머뱃지*/
    display: inline;
    height: 12px;
    position: absolute;
    left: 2px;
    margin:0px;
    margin-top: 1px;
}
.twchimg{/*트위치이모티콘*/
    display: inline;
    margin-right: -3.1px;
}
