@import url('https://fonts.googleapis.com/css?family=Jua&display=swap&subset=korean');

.chat_div .chat_text_nickname{
    font-family: 'Jua', sans-serif!important;
    font-size: 17px!important;
	color: #000034!important;
    background-color: rgba(40, 55, 120,0.6);
    background-image: url("..//img/x_button_b.png");
    border-top: #283778 solid 1px;
    border-left: #283778 solid 1px;
    border-bottom: #283778 solid 1px;
    border-right: #283778 solid 1px;
    display: block;
    text-shadow: 0px 0px 0px #000000!important;
    width: 250px;
    text-align: center;
    border-radius: 1px 1px 0px 0px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0)!important;
}
.chat_div .chat_text_message{
	font-family: 'Jua', sans-serif!important;
    font-size: 15!important;
    color: #000000!important;
    width: 240px!important;
    text-shadow: 0px 0px 0px #000000!important;
    background-color: rgba(242,242,242, 0.6) !important;
    border-top: #f2f2f2 solid 1px;
    border-left: #f2f2f2 solid 1px;
    border-bottom: #f2f2f2 solid 1px;
    border-right: #f2f2f2 solid 1px;
    border-radius: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-left: 0px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0)!important;
    margin-bottom: 0px!important;
    max-height: 95px;
	

}
.chat_div .chat_platform_tvpot,.chat_div  .chat_platform_twitch,.chat_div  .chat_platform_youtube,.chat_div  .chat_platform_mixer,.chat_platform_info{
    display: block!important;
    position: relative!important;
    width: 12px!important;
    left: 198px!important;
    bottom: -14px!important;
}
img{
    max-width: 95px;
    /*margin-left: 52px;*/
/*    margin-top: -3px;
    padding-bottom: 5px;*/
    margin: 0 auto;
    margin-top: -3px;
    margin-bottom: -3px;
    align-self: center;
    display: block;
    overflow: scroll;
/*    margin-bottom: 65px;*/
}

.chat_text_nickname img{/*스트리머뱃지*/
    display: inline;
    height: 12px;
    position: absolute;
    left: 2px;
    margin:0px;
    margin-top: 1px;
}
.twchimg{/*트위치이모티콘*/
    display: inline;
    margin-right: -3.1px;
}